test_dataset
.python-version
.venv
uv.lock
logs/
sandbox.py
slideflow.log
data
__pycache__
*.txt
*.log
Datasets/*
batch_size_analysis/*
automil/dataset_transform.py
automil/DatasetTransforms
split.json
project_*
model_test/